@font-face {
  font-family: 'Anonymous Pro';
  src: url('Anonymous Pro.ttf');

}

body#ogre{
	font-family: 'Anonymous Pro', serif;
	font-size: 12.5px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	letter-spacing: 0.091em;
	word-spacing: 0em;
	line-height: 1.1em;
	color:#555;
	margin: 0;
}
canvas#unCorpsSansSurface{
	position:fixed;
	z-index:-100;
	top:0;
	left:0;
}
a{
	color:#00f;
	font-weight: bold;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:visited{
	color:#00f;
}

#ogre h1 {
	position: fixed;
	font-size: 1.5em;
	text-align: right;
	width: 300px;
	font-family: 'Anonymous Pro', serif;
	font-weight: 800;
	line-height: 0.8;
	color: inherit;
	margin:0;
	top: 50%;
	right: 50px;
}
#ogre h2, #ogre h3, #ogre h4, #ogre h5, #ogre h6{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

ul, li{
	list-style-type:none;
}

::-moz-selection{
	background:#ff0;
    color:#888;
}

::selection {
	background:#ff0;
	color:#888;
}
.list-unstyled blockquote{
	border-left:none;	
	padding-top:0;
	padding-bottom:0;
}
.list-unstyled blockquote small:before{
	content: none;
}
